$white: #ffffff;
$black: #707070;
$light-blue: #90ceff;
$bright-turquoise: #2E9DFB;
$dark-tuquoise: #0078d7;
$smalt: #003399;
$cornflower-blue: #004977;
$gainsboro: #e4e4e4;
$gainsboro-light: #e0e0e0;
$acadia: #282a37;
$acadia-light: #414358;
$blueviolet: #8A2BE2;
$whitesmoke: rgb(245, 245, 245);
$nobel: #999999;
$silver: #cecaca;
$dark: rgba(0,0,0,.1);

$box-shadow-color: $dark;

$body-color: $gainsboro;
$accent: $bright-turquoise;
$editor-bg: $acadia;
$nav-bg: $white;
$nav-btn-mob-bg: $white;

//beta tag
$beta-tag-bg: $dark-tuquoise;
$beta-tag-color: $white;
$toggle-text-color--default: $black;
$beta-tag-shadow: $cornflower-blue;
$beta-additional-color: $smalt;


//toggle
$toggle-color--default: $whitesmoke;
$toggle-color--accent: $light-blue;
$toggle-item-color: $bright-turquoise;
$toggle-title-color: $white;
$title-label-bg: $bright-turquoise;


//code-editor nav
$edit-nav-bg: $acadia-light;
$edit-nav-text-color--active: $white;
$edit-nav-bg--active: $acadia;
$edit-nav-text-color: $white;
$edit-nav-border: $acadia;
$edit-nav-bg--hover: $bright-turquoise;
$edit-nav-text--hover: $white;

//btns
$btn-text-color: $black;
$btn-text-color-active: $white;
$btn-color-clicked: $blueviolet;
$btn-copy-bg: $bright-turquoise;
$btn-copy-text: $white;
$btn-download-bg: $white;
$btn-create-mob-bg: $bright-turquoise;
$btn-create-text-color: $white;
$btn-create-mob-shadow: $nobel;

//inputs
$input-border-color: $whitesmoke;
$input-bg: $whitesmoke;
$input-text-color: $acadia;
$input-outline-color: $white;

$select-text-color: $acadia;
$lang-select-bg: $white;

$label-color: $nobel;
$helper-text-color: $silver;
$placeholder-color: $silver;


//checkboxes
$checkbox-bg: $white;
$checkbox-border-color: $gainsboro-light;

$alert-box-bg: $white;
$alert-box-text: $acadia;
