@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin bg($color, $image, $position, $repeat, $size) {
  background-color: $color;
  background-image: url($image);
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}

@mixin appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin transition($sec, $el, $animation) {
  -webkit-transition: $sec $el $animation;
  -moz-transition: $sec $el $animation;
  -ms-transition: $sec $el $animation;
  -o-transition: $sec $el $animation;
  transition: $sec $el $animation;
}
