@import './../../node_modules/codemirror/lib/codemirror.css';
@import './../../node_modules/codemirror/theme/dracula.css';
@import './colors.scss';
@import './mixins.scss';

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $body-color;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

#creatorContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: $nav-bg;
}

.nav-btn-mob {
  display: none;
  position: absolute;
  top: 20%;
  left: 0;
  width: 75px;
  z-index: 10000;
  height: 70px;
  padding: 1%;
  background-color: $nav-btn-mob-bg;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  @include transition(0.7s, transform, ease);
}

.nav-mob-text {
  margin-right: 1.2em;
}

.creator-editor {
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  background: $editor-bg;
}

.creator-nav {
  grid-column: 1/2;
  background: $nav-bg;
  @include flex(column, flex-start, flex-start);
  padding: 0 1.5em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h1.form-header {
  font-weight: 600;
}


.form-header__close-btn {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: $btn-create-mob-bg;
  outline: none;
}

div.form-field {
  width: 100%;
  @include flex(column-reverse, center, flex-start);
}

div.checkbox-field {
  @include flex(row, flex-start, center)
}


.form {
  width: 100%;
}

.btn {
  width: 220px;
  height: 50px;
  padding: 0 1em;
  line-height: 40px;
  text-align: center;
  border: none;
  border-radius: 40px;
  font-size: 0.85rem;
  color: $btn-text-color;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 $btn-color-clicked;
  outline: none;
  @include transition(0.4s, all, cubic-bezier(.17,.56,.62,.6));

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    color: $btn-text-color-active;
    background-color: $btn-color-clicked;
  }
}

.btn-title {
  margin-left: 0.4em;
}

.btn-download {
  background-color: $btn-download-bg;
}

.btn-copy {
  color: $btn-copy-text;
  margin-bottom: 2em;
  background-color: $btn-copy-bg;
}

.create-btn-mob {
  position: absolute;
  right: 9%;
  bottom: 5%;
  width: 100px;
  height: 100px;
  @include flex(row, center, center);
  box-shadow: 1px 2px 7px $btn-create-mob-shadow;
  color: $btn-create-text-color;
  background-color: $btn-create-mob-bg;
}

.form-field {
  display: block;
  position: relative;
  min-width: 250px;
  margin: 0.7em 0;
  border-radius: 3px;
}

input.form-input {
  width: calc(100% - 20px);
  height: 2.5em;
  margin: 0.5em 0 0.2em;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  color: $input-text-color;
  font-weight: 100;
  background-color: $input-bg;
  @include transition(0.1s, all, ease-in-out);

  &:focus {
    border-color: $accent;

    & + label {
      color: $accent;
      font-weight: 400;
    }
  }

  &::-webkit-input-placeholder {
    font-size: 90%;
    color: $placeholder-color;
  }

}

input.form-checkbox {
  margin-right: 1em;
}

input.form-checkbox {
  position: relative;
  width: 15px;
  height: 15px;
}

input.form-checkbox:focus {
  outline-color: $input-outline-color;
}

input.form-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 1;
  border: 2px solid $checkbox-border-color;
  cursor: pointer;
  @include transition(0.3s, all, ease-in-out);
}

input.form-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  z-index: 0;
  background: $checkbox-bg;
}

input.form-checkbox:checked::before {
  border-top-style: none;
  border-right-style: none;
  height: 10px;
  transform: rotate(-45deg);
}

input.form-checkbox:nth-child(1):checked::before {
  border-color: $accent;
}


select {
  display: block;
  height: 2.5rem;
  width: 100%;
  outline: none;
  border: 1px solid $input-border-color;
  border-radius: 5px;
  box-shadow: none;
  content: 'f107';
  background-color: $input-border-color;
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: 16px;
  cursor: pointer;
  color: $select-text-color;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 100;
  line-height: 2.5rem;
  padding: 0 10px;
  margin-top: 1em;
}

select.lang-select {
  width: 15em;
  height: 2.5em;
  padding: 0 1em;
  font-size: 1rem;
  line-height: 3.2em;
  border: 1px solid rgba(0,0,0,0.24);
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: $select-text-color;
  background-size: 16px;
  background-color: $lang-select-bg;
  font-family: 'Font Awesome\ 5 Brands' , 'arial';
}

select.select-field:focus {
  border: 2px solid $accent;

  &  + label {
    color: $accent;
  }
}

.form-label {
  color: $label-color;
  font-size: 1em;
  font-weight: 400;
}

.form-field__helper-text {
  font-size: 0.8em;
  line-height: 1.7em;
  color: $helper-text-color;
}

.CodeMirror {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 92%;
}

#codeEditor {
  position: relative;
}

#codeEditorNav {
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 500;
  background-color: $nav-bg;
}

#codeEditorNav > ul > * {
  margin: 0;
  padding-left: 0;
}

#codeEditorNav > ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  width: 100%;
  height: 100%;
  list-style: none;
  cursor: pointer;
  border-bottom: 4px solid $edit-nav-border;
  font-size: 13px;
  line-height: 26px;
  font-weight: 600;
  transition: all 250ms ease;
}

.editor-nav-tab {
  display: block;
  float: right;
  padding: 10px 24px 8px;
  border-radius: 8px 8px 0 0;
  background-color: $edit-nav-bg;
  margin-right: 46px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  color: $edit-nav-text-color;
  text-transform: uppercase;
  transition: all 250ms ease;
  text-align: center;

  &::before,
  &::after {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    height: 100%;
    width: 44px;
    background-color: $edit-nav-bg;
    transition: all 250ms ease;
  }

  &::before {
    right: -24px;
    border-radius: 0 8px 0 0;
    transform: skew(30deg, 0deg);
    box-shadow: $box-shadow-color 3px 2px 5px, inset $edit-nav-bg -1px 0;
  }

  &::after {
    left: -25.7px;
    border-radius: 8px 0 0 0;
    transform: skew(-30deg, 0deg);
    box-shadow: $box-shadow-color -3px 2px 5px, inset $edit-nav-bg 1px 0;
  }


  &:first-of-type {
    grid-column: 1/2;

    &::after {
      left: -40px;
      width: 50px;
      border-radius: 0 0 0 0;
      transform: skew(0deg, 0deg);
      box-shadow: $box-shadow-color -3px 2px 5px, inset $edit-nav-bg 1px 0;
    }
  }

  &:nth-of-type(2) {
    grid-column: 2/3;
  }


  &:hover,
  &:hover::before,
  &:hover::after {
    background-color: $edit-nav-bg--hover;
    color: $edit-nav-text--hover;
  }

  &:hover::before {
    box-shadow: $box-shadow-color 3px 2px 5px, inset $edit-nav-bg--hover -1px 0;
  }

  &:hover::after {
    box-shadow: $box-shadow-color -3px 2px 5px, inset $edit-nav-bg--hover 1px 0;
  }

  &.active {
    z-index: 3;
  }
  &.active,
  &.active::before,
  &.active::after {
    background-color: $edit-nav-bg--active;
    color: $edit-nav-text-color--active;
    border-color: $edit-nav-bg--hover;
  }

  &.active::before {
    box-shadow: $box-shadow-color 3px 2px 5px, inset $edit-nav-bg--active -1px 0;
  }

  &.active::after {
    box-shadow: $box-shadow-color -3px 2px 5px, inset $edit-nav-bg--active 1px 0;
  }
}

.editor-buttons {
  position: fixed;
  z-index: 40;
  bottom: 3em;
  right: 3em;
  @include flex(column, center, center);
}

div.lang-container {
  position: fixed;
  z-index: 501;
  top: -11px;
  right: 3em;
  margin-left: 3em;
}

div.alert-box {
  width: 10em;
  position: absolute;
  top: 3em;
  right: 2em;
  padding: 20px;
  background-color: $alert-box-bg;
  color: $alert-box-text;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  opacity: 1;
  @include transition(0.8s, all, cubic-bezier(0.165, 0.84, 0.44, 1));
}

.hidden {
  display: none;
  opacity: 0;
}

.alert-text {
  text-align: center;
  opacity: 1;
  font-size: 0.95rem;
  font-weight: 600;
}

//Tag styles

.tag {
  margin: 0;
  padding: 0;
  position: relative;
}

.tag span, .tag span {
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 15px;
}

.tag span {
  margin: 2px 5px 2px 12px;
  padding: 0 10px 0 12px;
  background: $beta-tag-bg;
  color: $beta-tag-color;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: absolute;
  top: 40px;
  left: 180px;
  transform: rotate(45deg);
}

.tag span:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent $beta-tag-bg transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}

.tag span:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: $beta-tag-color;
  -moz-box-shadow: -1px -1px 2px $beta-tag-shadow;
  -webkit-box-shadow: -1px -1px 2px $beta-tag-shadow;
  box-shadow: -1px -1px 2px $beta-tag-shadow;
}
.tag.ic span{
  background: $beta-additional-color;

}
.tag.ic span:before{
  border-color: transparent $beta-additional-color transparent transparent;
}

@media screen and (min-width: 320px) and (max-width: 900px) {

  #codeEditorNav > ul {
    grid-template-columns: 2fr 2fr 1fr;
  }

  .creator-nav {
    display: block;
    position: absolute;
    transform: translateX(-100%);
    grid-column: 1/3;
    z-index: 11111;
    min-width: 300px;
    max-width: 350px;
    height: auto;
    min-height: 100vh;
    @include flex(column, flex-start, flex-start);
    @include transition(0.7s, all, ease-in-out);
  }

  .visible {
    max-width: 94%;
    transform: translateX(0%);
  }

  .nav-btn-mob {
    @include flex(row, center, center);
  }

  .creator-editor {
    grid-column: 1/3;
  }

  div.lang-container {
    right: 2%;
    top: 65%;
  }

  select.lang-select {
    width: 10.6em;
    height: 3em;
  }

  .editor-buttons {
    right: 2%;
  }

  div.alert-box {
    width: 80%;
    height: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
  }

  .alert-text {
    font-size: 200%;
  }

  .CodeMirror {
    font-size: 1.2em;
  }

  div.form-field {
    width: 94%;
  }
}

.form-toggle {
  width: 100%;
  @include flex(row, space-between, top);

  & > .form-label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: $toggle-title-color;
  }
}

.switch-toggle__title {
  background: $title-label-bg;
  color: $toggle-title-color;
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.switch-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 1rem 0;

  & > input {
    display: none;

    &:focus + .slider {
      box-shadow: 0 0 1px $toggle-color--accent;
    }
  }



  input:checked + .slider:before {
    transform: translateX(88px);
    border-radius: 0 5px 5px 0;
  }

  & > .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 170px;
    height: 30px;
    line-height: 30px;
    color: $toggle-text-color--default;
    background-color: $toggle-color--default;
    border: 2px solid $toggle-color--default;
    transition: all 0.4s ease;
    @include flex(row, space-around, center);

    .slider__item {
      width: 47%;
      padding-left: 10px;

      &:last-of-type {
      }
    }

    &::before {
      position: absolute;
      content: attr(data-title);
      height: 32px;
      width: 55%;
      left: -4px;
      line-height: 32px;
      text-align: center;
      color: $toggle-title-color;
      background-color: $toggle-item-color;
      transition: all 0.4s ease;
      box-shadow: 0 2px 9px rgba(0,0,0,0.14);
    }

    &.round {
      border-radius: 5px;

      &::before {
        border-radius: 5px 0 0 5px;
      }
    }
  }
}